<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anroid_networking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Lab3.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anroid_Networking"
        android:usesCleartextTraffic="true">
        <activity android:name=".mysql.MySQLActivity"></activity>
        <activity android:name=".ASMGD1.ShopActivity"></activity>
        <activity android:name=".AssignmentGD1.AsmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lab3.MainLab3Activity" />
        <activity android:name=".Lab3.Lab3b4Activity" />
        <activity android:name=".Lab3.Lab3b3Activity" />
        <activity android:name=".Lab3.Lab3b2Activity" />
        <activity android:name=".Lab3.Lab3b1MainActivity" />
        <activity android:name=".Lab2.Lab2b5Activity" />
        <activity android:name=".Lab2.Lab2b4Activity" />
        <activity android:name=".Lab2.Lab2b2Activity" />
        <activity android:name=".Lab2.Lab2b1Activity" />
        <activity android:name=".Lab1.MainChinhActivity" />
        <activity android:name=".Lab1.Lab1b4Activity" />
        <activity android:name=".Lab1.Lab1b3Activity" />
        <activity android:name=".Lab1.Lab1b22Activity" />
        <activity android:name=".Lab1.Lab1b2Activity" />
        <activity android:name=".Lab1.Lab1b1Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>